.Paragraph-Style
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Snap---BC-Module---Blog---Blog-Description,.description
{
	font-family: open-sans-n4, sans-serif;
}

.Text_PORTFOLIO,.Under-Title
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u612-4,#u628-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u634-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u652-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u657-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u644-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u611-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u618-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

